* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}

h1,
h2 {
  font-family: 'Allerta';
}

header {
  background-color: #232115;
  padding: 20px 0;
}

header h1 {
  color: #ddd7cc;
  text-align: center;
}
